body{
	margin: 0;
	background: #FE0017;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #FE0017;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
.no-overflow{
	overflow-x:hidden;
}
img{
	vertical-align: middle;
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	width: 100vw;
	z-index: -1;
	pointer-events: none;
}
@font-face {
  font-family: 'Franklin Gothic Extra Condensed';
  src: url('Franklin Gothic Extra Condensed.ttf');
}
@font-face {
  font-family: 'InsideOut';
  src: url('Flyerfonts-InsideOut.otf');
}
@font-face {
  font-family: 'Malfunction';
  src: url('Flyerfonts-Malfunction.otf');
}

.header{
	margin: 0 auto;
	width: 100vw;
	text-align: center;
    -ms-transform: rotate(1deg); /* IE 9 */
    -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
    transform: rotate(1deg);
	position: absolute;
	/*top: 125px;*/
	margin-top: 6vw;
		
	z-index: 99;
	letter-spacing: 10px;
	font-family: 'Franklin Gothic Extra Condensed';
}
.header a{
	z-index: 1;
}
#back-button{
    -ms-transform: rotate(1deg); /* IE 9 */
    -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
    transform: rotate(1deg);
	margin: 0 auto;
	width: 100vw;
	text-align: center;
	display: none;
	position: absolute;
	margin-top: 100px;
	font-family: 'Franklin Gothic Extra Condensed';
	font-size: 14px;
}

.nav{
    list-style: none;
    position: absolute;
    top: 30px;
    left: 50px; 
    z-index: 100;  
}
#offscreen{
	display: none;
	position: absolute;
	/*left: -50vw;*/
	top: 0;
}
#menu-button{
	display: none;
	font-family: "InsideOut";
	margin: 30px 0;
	position: absolute;
	top: 100px;
    left: 25px;  
	color: black;
	text-decoration: none;
}
.coming-soon{
	/*display:none;*/
	position: absolute;
	top: 50%;
	width: 100vw;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.coming-soon p{
		font-family: "InsideOut";

	font-size: 14px;

	color: black;

	text-align: center;

}

li{
	margin: 30px 0;
	font-family: "InsideOut";
	font-size: 14px;
}
a{
	color: black;
	text-decoration: none;

}
a:focus, *:focus {
    noFocusLine: expression(this.onFocus=this.blur());
}
:focus{
    outline:0; /*removes the dotted border*/
}
.red-container{
	width: 100vw;
	position: fixed;
	top: 0
}
.did-you, #did-you-mobile{
	font-family: 'Franklin Gothic Extra Condensed';
    color: #FE0017;
    width: 100vw;
}
.did-you{
	position: fixed;
	/*top: 50vh;*/
    font-size: 4vw;
}
#did-you-mobile{
	display: none;
	font-size: 20px;
	text-align: center;
	margin: 0;
}
.videos, .music{
	width: 100vw;
	margin: 0 auto;
	margin-top: 200px;
	z-index: -1;
}
.videos iframe, .music iframe{
	display: block;
	margin: 0 auto;
	margin-top: 100px;
}
.videos iframe:last-child{
	margin-bottom: 100px;
}
.maps-mobile{
	display: none;
}
.maps-desktop{
	display: block;
}

@media screen and (max-width: 700px) {

    li a{
    	color: white;
    }
    .images img{
    	width: 600vw;
    	position: relative;
    	/*left: 0;*/
    	margin-left: -200vw;
    }
	.images .first{
		margin-top: -500px;
	}
    li{
    	text-align: center;
		font-size: 16px;
		margin: 30px 0;
	    /*text-shadow: 0px 1px 0px black;*/
    }
   .nav{
		width: 100vw;
		padding: 0;
    	position: fixed;
	    left: 0;
	    top: 50%;
    	text-align: center;

	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
    }
    .top-nav{
    	position: absolute;
    	top: 100px;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    transform: translateY(-50%);
    }
    .top-nav li{
    	display: inline;
		margin: 0 10px;
    }
    #did-you-mobile{
    	margin-top: -20px;
    	z-index: -10;
    }
/*    li {
		text-align: center;
    	display: inline;
		font-size: 16px;
    }*/
/*    #nav {
		width: 100vw;
		padding: 0;
    	/*position: fixed;*/
	    /*margin-top: 10vw;*/
	    /*left: 0;*/
	    /*-webkit-transform: translateY(-50%);*/
	    /*-ms-transform: translateY(-50%);*/
	    /*transform: translateY(-50%);*/
    /*}*/

    .header{
		z-index: 1;
    }
    .videos iframe, .music iframe{
		display: block;
		margin: 0 auto;
		margin-top: 100px;
		width: 100%;
	}
	#did-you-mobile{
		display: block;
	}
	.did-you{
		display: none;
	}

	.photos{
		margin-top: 40px;
	}
	.maps-desktop{
		display: none;
	}
	.maps-mobile{
		display: block;
		margin-top: 100px;
	}

}

@media screen and (max-width: 400px) {
    .home-header a{
    	color: white;
    }
    #did-you-mobile{
    	/*font-size: 16px;*/
    }

    .top-nav li{
		margin: 0 5px;
    }
}
