				<div class="images">
					<img class="first" src="img/new/1.png" alt="">
					<img src="img/new/2.png" alt="">
					<img src="img/new/3.png" alt="">
					<img src="img/new/4.png" alt="">
					<img src="img/new/5.png" alt="">
					<img src="img/new/6.png" alt="">
					<img src="img/new/7.png" alt="">
					<img src="img/new/8.png" alt="">
					<img src="img/new/9.png" alt="">
				</div>
				<div class="red-container">
					<h1 class="did-you">
						DID
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						YOU
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						SURVIVE
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						THE
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						RODEO
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						?
					</h1>
				</div>		